// 01 Navigation Bar Container
// 02 Logo Component
// 03 Nav Component
// 04 Buttons
// 05 Aim Card Component
// 06 Project Cards

// 01 Navigation Bar Container
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 3rem 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  z-index: 1000;
  @media screen and (max-width: $res-small) {
    padding: 0 20px;
    height: 50px;
  }
}
// 02 Logo Component
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  img {
    height: 5rem;
    width: 5rem;
  }
  span {
    font-size: 3rem;
    color: white;
    font-weight: 900;
    margin-left: 3rem;
  }
  &__img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  @media screen and (max-width: $res-small) {
    height: 4rem;
    width: 4rem;
  }
}

// 03 Nav Component
.nav {
  height: 100%;
  width: 45%;
  position: relative;
  transition: all 0.5s;
  @media screen and (max-width: $res-medium) {
    width: 60%;
  }
  @media screen and (max-width: $res-small) {
    width: 5rem;
  }

  // Navigation Icon style
  &__checkbox {
    display: none;
  }
  &__button {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1000;
    @media screen and (max-width: $res-small) {
      display: block;
    }
  }
  &__icon,
  &__icon::before,
  &__icon::after {
    width: 3rem;
    height: 3px;
    background-color: white;
    transition: all 0.5s;
  }
  &__icon {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    z-index: inherit;
    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0;
    }
    &::after {
      content: "";
      position: absolute;
      top: 1rem;
      left: 0;
    }
  }
  &__checkbox:checked ~ .nav__list {
    height: 50px;
    .nav__item {
      visibility: visible;
    }
  }
  &__checkbox:checked + &__button,
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  // Navigation Lists
  &__list {
    height: 100%;
    width: 100%;
    list-style: none;
    color: $color-text;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    transition: all 0.5s cubic-bezier(0.22, 0.65, 0.92, 0.68);
    @media screen and (max-width: $res-small) {
      background-color: $color-pry;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100vw;
      height: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1.2rem;
      .nav__item {
        visibility: hidden;
      }
    }
  }
  &__item {
    padding: 1rem 0;
    border-radius: 3px;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    &:active {
      transform: translateY(-2px);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: -1px;
      background-color: white;
      width: 0%;
      height: 2px;
      transition: all 0.5s;
    }
    &:hover::after {
      content: "";
      width: 105%;
    }
  }
  &__link {
    color: inherit;
  }
}

// 04 Buttons
.btn {
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  &:hover,
  &:active {
    outline: none;
  }
  &--pry {
    background-color: $color-sec;
    color: white;
    font-weight: 700;
    &:hover {
      background-color: $color-pry;
      color: whitesmoke;
    }
  }
}

// 05 Aim Card Component
.aim-card {
  height: 300px;
  width: 250px;
  border: 5px solid $color-tet;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 5px 5px 10px rgba(grey, 0.1);
  padding: 3rem;
  transition: all 0.5s;
  &:hover {
    background-color: rgb(250, 250, 250);
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 10px rgba(grey, 0.2);
  }
  &__head {
    font-size: 2rem;
    color: $color-pry;
  }
  &__icon {
    width: 100px;
    height: 100px;
    margin: 2rem auto;
  }
  &__svg {
    width: 100%;
    height: 100%;
    fill: $color-pry;
  }
  &__text {
    font-size: 1.5rem;
    line-height: 25px;
    text-align: center;
    color: $color-pry;
  }
}
// 06 Project Cards
.proj-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  width: 100%;
  &__side {
    height: 100%;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
  // Front of the card
  &__pic {
    height: 50%;
    width: 100%;
    position: relative;
    //overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    font-size: 3rem;
    background-color: $color-tet;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    width: 200px;
    text-align: center;
  }
  &__stack {
    list-style: none;
    text-align: center;
    margin: 3rem auto;
    color: $color-pry;
    li {
      border-bottom: 1px solid grey;
      font-size: 1.5rem;
      padding: 1rem;
      width: 17rem;
      margin: 0 auto;
    }
    li:last-child {
      border: none;
    }
  }
  // Back of the card
  &__summary {
    font-size: 1.6rem;
    line-height: 30px;
  }
  &__cta {
    padding: 1rem 2rem;
  }
  //@include respond(tab-port) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-pry;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }
  }
}
