// Header Styles

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom right,
      rgba($color-pry, 0.5),
      rgba($color-pry, 0.4),
      rgba($color-sec, 0.3),
      rgba($color-sec, 0.1)
    ),
    url("../assets/img/landing.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 0 5px 2px rgba(black, 0.3);
}
.add-bg {
  background-color: $color-pry !important;
}

.projects {
  height: 100vh;
  background-color: green;
}
.articles {
  height: 100vh;
  background-color: yellow;
}
.contact {
  height: 100vh;
  background-color: purple;
}
.email {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $res-small) {
    height: 30px;
  }
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  background-color: transparent;
}
