@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: #002147; }
  html ::-webkit-scrollbar {
    width: 10px; }
  html ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px; }
  html ::-webkit-scrollbar-thumb {
    background: #004ea8;
    border-radius: 3px; }
  html ::-webkit-scrollbar-thumb:hover {
    background: #002147; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56%; } }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  max-width: 100%;
  font-family: "lato", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes disappear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase; }
  a:link, a:visited {
    color: inherit; }
  a:active {
    outline: none; }

.typo-h1 {
  font-size: 3.5rem;
  color: #002147; }

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 3rem 0;
  z-index: 1000; }
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  @media screen and (max-width: 37.5em) {
    .navbar {
      padding: 0 20px;
      height: 50px; } }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%; }
  .logo img {
    height: 5rem;
    width: 5rem; }
  .logo span {
    font-size: 3rem;
    color: white;
    font-weight: 900;
    margin-left: 3rem; }
  .logo__img {
    height: 100%;
    width: 100%;
    border-radius: 50%; }
  @media screen and (max-width: 37.5em) {
    .logo {
      height: 4rem;
      width: 4rem; } }

.nav {
  height: 100%;
  width: 45%;
  position: relative;
  transition: all 0.5s; }
  @media screen and (max-width: 56.25em) {
    .nav {
      width: 60%; } }
  @media screen and (max-width: 37.5em) {
    .nav {
      width: 5rem; } }
  .nav__checkbox {
    display: none; }
  .nav__button {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1000; }
    @media screen and (max-width: 37.5em) {
      .nav__button {
        display: block; } }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 3px;
    background-color: white;
    transition: all 0.5s; }
  .nav__icon {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: inherit; }
    .nav__icon::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0; }
    .nav__icon::after {
      content: "";
      position: absolute;
      top: 1rem;
      left: 0; }
  .nav__checkbox:checked ~ .nav__list {
    height: 50px; }
    .nav__checkbox:checked ~ .nav__list .nav__item {
      visibility: visible; }
  .nav__checkbox:checked + .nav__button,
  .nav__checkbox:checked + .nav__button .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__button .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__button .nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav__list {
    height: 100%;
    width: 100%;
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    transition: all 0.5s cubic-bezier(0.22, 0.65, 0.92, 0.68); }
    @media screen and (max-width: 37.5em) {
      .nav__list {
        background-color: #002147;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100vw;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.2rem; }
        .nav__list .nav__item {
          visibility: hidden; } }
  .nav__item {
    padding: 1rem 0;
    border-radius: 3px;
    text-align: center;
    position: relative;
    transition: all 0.5s; }
    .nav__item:active {
      transform: translateY(-2px); }
    .nav__item::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: -1px;
      background-color: white;
      width: 0%;
      height: 2px;
      transition: all 0.5s; }
    .nav__item:hover::after {
      content: "";
      width: 105%; }
  .nav__link {
    color: inherit; }

.btn {
  border: none;
  transition: all 0.5s;
  cursor: pointer; }
  .btn:hover, .btn:active {
    outline: none; }
  .btn--pry {
    background-color: #004ea8;
    color: white;
    font-weight: 700; }
    .btn--pry:hover {
      background-color: #002147;
      color: whitesmoke; }

.aim-card {
  height: 300px;
  width: 250px;
  border: 5px solid #00499e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.1);
  padding: 3rem;
  transition: all 0.5s; }
  .aim-card:hover {
    background-color: #fafafa;
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.2); }
  .aim-card__head {
    font-size: 2rem;
    color: #002147; }
  .aim-card__icon {
    width: 100px;
    height: 100px;
    margin: 2rem auto; }
  .aim-card__svg {
    width: 100%;
    height: 100%;
    fill: #002147; }
  .aim-card__text {
    font-size: 1.5rem;
    line-height: 25px;
    text-align: center;
    color: #002147; }

.proj-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  width: 100%; }
  .proj-card__side {
    height: 100%;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .proj-card__side--front {
      background-color: white; }
    .proj-card__side--back {
      transform: rotateY(180deg);
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
  .proj-card:hover .proj-card__side--front {
    transform: rotateY(-180deg); }
  .proj-card:hover .proj-card__side--back {
    transform: rotateY(0); }
  .proj-card__pic {
    height: 50%;
    width: 100%;
    position: relative; }
  .proj-card__img {
    width: 100%;
    height: 100%; }
  .proj-card__name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    font-size: 3rem;
    background-color: #00499e;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    width: 200px;
    text-align: center; }
  .proj-card__stack {
    list-style: none;
    text-align: center;
    margin: 3rem auto;
    color: #002147; }
    .proj-card__stack li {
      border-bottom: 1px solid grey;
      font-size: 1.5rem;
      padding: 1rem;
      width: 17rem;
      margin: 0 auto; }
    .proj-card__stack li:last-child {
      border: none; }
  .proj-card__summary {
    font-size: 1.6rem;
    line-height: 30px; }
  .proj-card__cta {
    padding: 1rem 2rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .proj-card {
      height: auto;
      border-radius: 3px;
      background-color: #002147;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .proj-card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .proj-card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .proj-card:hover .proj-card__side--front {
        transform: rotateY(0); } }

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(0, 33, 71, 0.5), rgba(0, 33, 71, 0.4), rgba(0, 78, 168, 0.3), rgba(0, 78, 168, 0.1)), url("../assets/img/landing.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.3); }

.add-bg {
  background-color: #002147; }

.email {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 37.5em) {
    .email {
      height: 30px; } }

.container {
  max-width: 114rem;
  margin: 0 auto;
  background-color: transparent; }

.welcome {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 2px; }
  .welcome h1 {
    font-size: 5rem;
    margin: 1rem 0; }
  .welcome h2 {
    font-size: 4rem; }
  .welcome__cta {
    margin-top: 1.5rem;
    padding: 2rem 5rem;
    font-size: 2rem;
    border-radius: 3px; }

.about {
  margin: 15rem 0; }
  .about .aims {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  .about__div {
    width: 70%;
    margin: 15rem auto;
    text-align: center; }
  .about__head {
    text-align: center; }
  .about__note {
    font-size: 2rem;
    line-height: 40px;
    text-align: justify;
    margin-top: 3rem; }

.projects {
  margin-bottom: 15rem; }
  .projects__head {
    text-align: center;
    margin-bottom: 7rem; }
  .projects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem; }

.articles {
  height: 100vh; }
  .articles__head {
    text-align: center;
    margin-bottom: 7rem; }
