@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: #002147; }
  html ::-webkit-scrollbar {
    width: 10px; }
  html ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px; }
  html ::-webkit-scrollbar-thumb {
    background: #004ea8;
    border-radius: 3px; }
  html ::-webkit-scrollbar-thumb:hover {
    background: #002147; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56%; } }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  max-width: 100%;
  font-family: "lato", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes disappear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase; }
  a:link, a:visited {
    color: inherit; }
  a:active {
    outline: none; }

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 3rem 0; }
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  @media screen and (max-width: 37.5em) {
    .navbar {
      padding: 0 20px;
      height: 50px; } }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%; }
  .logo img {
    height: 5rem;
    width: 5rem; }
  .logo span {
    font-size: 3rem;
    color: white;
    font-weight: 900;
    margin-left: 3rem; }
  .logo__img {
    height: 100%;
    width: 100%;
    border-radius: 50%; }
  @media screen and (max-width: 37.5em) {
    .logo {
      height: 4rem;
      width: 4rem; } }

.nav {
  height: 100%;
  width: 45%;
  position: relative;
  transition: all 0.5s; }
  @media screen and (max-width: 56.25em) {
    .nav {
      width: 60%; } }
  @media screen and (max-width: 37.5em) {
    .nav {
      width: 5rem; } }
  .nav__checkbox {
    display: none; }
  .nav__button {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1000; }
    @media screen and (max-width: 37.5em) {
      .nav__button {
        display: block; } }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 3px;
    background-color: white;
    transition: all 0.5s; }
  .nav__icon {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: inherit; }
    .nav__icon::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0; }
    .nav__icon::after {
      content: "";
      position: absolute;
      top: 1rem;
      left: 0; }
  .nav__checkbox:checked ~ .nav__list {
    height: 50px; }
    .nav__checkbox:checked ~ .nav__list .nav__item {
      visibility: visible; }
  .nav__checkbox:checked + .nav__button,
  .nav__checkbox:checked + .nav__button .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__button .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__button .nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav__list {
    height: 100%;
    width: 100%;
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    transition: all 0.5s cubic-bezier(0.22, 0.65, 0.92, 0.68); }
    @media screen and (max-width: 37.5em) {
      .nav__list {
        background-color: #002147;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100vw;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.2rem; }
        .nav__list .nav__item {
          visibility: hidden; } }
  .nav__item {
    padding: 1rem 0;
    border-radius: 3px;
    text-align: center;
    position: relative;
    transition: all 0.5s; }
    .nav__item:active {
      transform: translateY(-2px); }
    .nav__item::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: -1px;
      background-color: white;
      width: 0%;
      height: 2px;
      transition: all 0.5s; }
    .nav__item:hover::after {
      content: "";
      width: 105%; }
  .nav__link {
    color: inherit; }

.btn {
  border: none;
  transition: all 0.5s;
  cursor: pointer; }
  .btn:hover, .btn:active {
    outline: none; }
  .btn--pry {
    background-color: #004ea8;
    color: white;
    font-weight: 700; }
    .btn--pry:hover {
      background-color: #002147;
      color: whitesmoke; }

.aims {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(0, 33, 71, 0.5), rgba(0, 33, 71, 0.4), rgba(0, 78, 168, 0.3), rgba(0, 78, 168, 0.1)), url("../assets/img/landing.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.3); }

.add-bg {
  background-color: #002147 !important; }

.projects {
  height: 100vh;
  background-color: green; }

.articles {
  height: 100vh;
  background-color: yellow; }

.contact {
  height: 100vh;
  background-color: purple; }

.email {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 37.5em) {
    .email {
      height: 30px; } }

.container {
  max-width: 114rem;
  margin: 0 auto;
  background-color: transparent; }

.welcome {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 2px; }
  .welcome h1 {
    font-size: 5rem;
    margin: 1rem 0; }
  .welcome h2 {
    font-size: 4rem; }
  .welcome .cta {
    margin-top: 1.5rem;
    padding: 2rem 5rem;
    font-size: 2rem;
    border-radius: 3px; }

.about__div {
  width: 70%;
  margin: 3rem auto;
  text-align: center; }
